*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;

}

.wave
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;   
}
/*NavBar*/
nav{
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.13) !important;
  }
  .navbar{
    background-color: rgb(88, 88, 88) !important;
    text-align: center !important;
  }
  nav .nav-link{
    color: white !important;
    font-size: 18px;
    font-weight: 300 !important;
  }

  .nav-link
  {
    text-align: center;
  }

  .nav-link:hover{
    color: rgba(0, 81, 255, 0.842) !important;
  }
  .active{
    color: rgba(0, 81, 255, 0.842) !important;
  }


  .navbar-brand{
    font-weight: 800;
  }
/*NavBar*/
body{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.AC
{
    background-image: url(../imgs/AC.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 94vh !important;
    overflow: hidden;
    text-align: center;
}

.BD
{
    background-image: url(../imgs/BD.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 94vh !important;
    overflow: hidden;
    text-align: center;
}
.CR
{
    background-image: url(../imgs/CR.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 94vh !important;
    overflow: hidden;
    text-align: center;
}
.DD
{
    background-image: url(../imgs/DD.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 94vh !important;
    overflow: hidden;
    text-align: center;
}
.HR
{
    background-image: url(../imgs/HR.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 94vh !important;
    overflow: hidden;
    text-align: center;
}
.IT
{
    background-image: url(../imgs/IT.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 94vh !important;
    overflow: hidden;
    text-align: center;
}
.L
{
    background-image: url(../imgs/L.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 94vh !important;
    overflow: hidden;
    text-align: center;
}
.MP
{
    background-image: url(../imgs/MP.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 94vh !important;
    overflow: hidden;
    text-align: center;
}
.PR
{
    background-image: url(../imgs/PR.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 94vh !important;
    overflow: hidden;
    text-align: center;
}
.SMM
{
    background-image: url(../imgs/SMM.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 94vh !important;
    overflow: hidden;
    text-align: center;
}
.headimage{
    width:300px;
    height:350px;
    background:transparent;
    border-radius: 16px;
    border: solid .5px black;
    margin-top: 5%;
}
@media (max-width:1200px){
    .headimage{
        margin-left: 10%;
        margin-bottom: 5vh;
    }
    .headposition
    {
        margin-left: 30px;
    }
    .headname
    {
        margin-left: 30px;
    }
    .AC
    {
        background-image: url(../imgs/AC.png);
        background-repeat: no-repeat;
        background-size: 100% 60%;
        position: relative;
        background-attachment: fixed;
        z-index: -1;
        width: 100%;
        height: 60vh !important;
        overflow: hidden;
        text-align: center;
    }

    .BD
    {
        background-image: url(../imgs/BD.png);
        background-repeat: no-repeat;
        background-size: 100% 60%;
        position: relative;
        background-attachment: fixed;
        z-index: -1;
        width: 100%;
        height: 60vh !important;
        overflow: hidden;
        text-align: center;
    }
    .CR
    {
        background-image: url(../imgs/CR.png);
        background-repeat: no-repeat;
        background-size: 100% 60%;
        position: relative;
        background-attachment: fixed;
        z-index: -1;
        width: 100%;
        height: 60vh !important;
        overflow: hidden;
        text-align: center;
    }
    .DD
    {
        background-image: url(../imgs/DD.png);
        background-repeat: no-repeat;
        background-size: 100% 60%;
        position: relative;
        background-attachment: fixed;
        z-index: -1;
        width: 100%;
        height: 60vh !important;
        overflow: hidden;
        text-align: center;
    }
    .HR
    {
        background-image: url(../imgs/HR.png);
        background-repeat: no-repeat;
        background-size: 100% 60%;
        position: relative;
        background-attachment: fixed;
        z-index: -1;
        width: 100%;
        height: 60vh !important;
        overflow: hidden;
        text-align: center;
    }
    .IT
    {
        background-image: url(../imgs/IT.png);
        background-repeat: no-repeat;
        background-size: 100% 60%;
        position: relative;
        background-attachment: fixed;
        z-index: -1;
        width: 100%;
        height: 60vh !important;
        overflow: hidden;
        text-align: center;
    }
    .L
    {
        background-image: url(../imgs/L.png);
        background-repeat: no-repeat;
        background-size: 100% 60%;
        position: relative;
        background-attachment: fixed;
        z-index: -1;
        width: 100%;
        height: 60vh !important;
        overflow: hidden;
        text-align: center;
    }
    .MP
    {
        background-image: url(../imgs/MP.png);
        background-repeat: no-repeat;
        background-size: 100% 60%;
        position: relative;
        background-attachment: fixed;
        z-index: -1;
        width: 100%;
        height: 60vh !important;
        overflow: hidden;
        text-align: center;
    }
    .PR
    {
        background-image: url(../imgs/PR.png);
        background-repeat: no-repeat;
        background-size: 100% 60%;
        position: relative;
        background-attachment: fixed;
        z-index: -1;
        width: 100%;
        height: 60vh !important;
        overflow: hidden;
        text-align: center;
    }
    .SMM
    {
        background-image: url(../imgs/SMM.png);
        background-repeat: no-repeat;
        background-size: 100% 60%;
        position: relative;
        background-attachment: fixed;
        z-index: -1;
        width: 100%;
        height: 60vh !important;
        overflow: hidden;
        text-align: center;
    }
    .BDh
    {
        margin-left: 1.5vh;
    }
}

li{
    padding-bottom: 10px;
    font-weight: 200;
    font-size: 20px;
    text-align: left;
}
ul{
    padding-left: 20px;
}
.destitle{
    padding:10px 0px 10px 20px !important;
    color: #000000;
    font-size: 50px;
    font-weight: 100%;

}
.des{
    width: 450px;
    border-style: solid;
    border-radius: 17px;
    border-top: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-color: #d11717e3;
    font-size: 18px;
    padding-left: 15px;
    height: fit-content;
    text-align: left;
}

.des2{
    margin-top: 4% !important;
    width: 450px;
    border-style: solid;
    border-radius: 17px;
    border-top: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-color: #d11717e3;
    font-size: 18px;
    padding-left: 15px;
    height: fit-content;
}

.headname{
    color: #d11717e3;
    text-align: center;
    font-size: 40px !important;
    padding-bottom: 7vh;

}
.headposition{
    color: #0000A8;
    text-align: center;
    font-size: 60px;
    margin-top: 8vh;
    margin-bottom: 8vh;
}
.classification{
    text-align: center;
    color: #0000A8;
    margin-top: 40px !important;
    margin-bottom :40px !important;
    font-size: 45px;
}
.memname{
    text-align: center;
    color: #AB2020;
    margin: 4px 0px 30px -10px;
}
.memberimage{
    height:260px;
    width:250px;
    box-shadow:5px 5px #d1d1d1;
    border-radius: 16px;
    border: solid .5px black;
}
 /* section
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height:500px;
    overflow: hidden;
    text-align: center; 
} */

.wave
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;   

}
.fade-up
{
    opacity: 0;
    transform: translateY(10%);
    transition: translateY(10%);
    transition: opacity 1s ease-in, transform 700ms ease-in , transition 700ms ease-in;
}
.fade-up.appear
{
    opacity: 1;
    transform: translateY(0);
    transition: translateY(0);
}
.fade-in
{
    opacity: 0;
    transition: opacity 1.2s ease-in;
}
.fade-in.appear
{
    opacity: 1;
}
.head
{
    margin-top: 4%;
    margin-right: 50px;
} 
 
.smmdes
{
    margin-top: 5vh !important;
}

.mpdes
{
    margin-top: 9vh !important;
}

.ldes
{
    margin-top: 8vh !important;
}

.prdes
{
    margin-top: 5vh !important;
}
#dddes{
    margin-top: 25px !important;
}