*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
.card{
   border:none;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 24px 80px 0 rgba(0, 0, 0, 0.19);
}
.team{
    text-align: center;
    font-weight: bolder;
    font-style: oblique;    
    text-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 24px 80px 0 rgba(0, 0, 0, 0.19);
}
.container-flex{
    margin-top: 25px;
}
body{
 
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-position: center;
}

.head{
    text-align: center;
    text-shadow: 2px 2px 8px white;
    color: #036fca;
    font-weight: bolder;
}
.paragraph{
    height: 90vh;
    background-color: #c0c1c39e;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 24px 80px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.p-css{
    margin-top: 200px;
}
/* .img-box{
    margin-left: 30vh;
    margin-top:25vh;
} */
.imgg{
    width:450px;
    height: 450px;
}

.app-description{
    text-align: center;
    color: black;
    font-weight: 400;
    font-size:20px;

}

.BigCont{
    background-color: rgba(128, 128, 128, 0.482);
    box-shadow:0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 24px 80px 0 rgba(0, 0, 0, 0.19) ;
}
/* .break{
    height: 400px;
} */
.card-body{
    height: fit-content;    
}

.row{
    justify-content: center;
}

.cont{
    height:fit-content;
}

@media (min-width:1000px) {

    .imgg{
    /* margin-left: -50px; */
    padding-top: 100px; 
    }
    .paragraph{
        margin-left: 200px;
    }

}

@media (max-width:1200px){
    .imgg{
        height: 300px;
        width: 200px;
        padding-bottom: 20px;
        /* margin-top: -30px !important; */
    }

}
 
.card-text{
    text-align: center;
    color: #036fca;
}

.team{
    color: rgb(3, 111, 202);
    text-shadow: 0px 0px 5px rgba(3, 112, 202, 0.753);

}
.card-title{
    text-align: center;
}

      /*nav css*/
      nav{
        position: relative !important;
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
        box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.13) !important;
      }
      .navbar{
        background-color: rgb(88, 88, 88) !important;
        text-align: center;
      }
      nav .nav-link{
        color: white !important;
        font-size: 18px;
        /* font-weight: 500; */
      }

      .nav-link:hover{
        color: rgba(0, 81, 255, 0.842) !important;
      }
      .active{
        color: rgba(0, 81, 255, 0.842) !important;
      }


      /* .navbar-brand{
        font-weight: 800;
      } */
    /*nav css*/

 /* footer */


 footer{
    /* position: absolute !important; */
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    /* margin-top: 50%; */
    background-color: rgb(88, 88, 88) !important;
  }
  
  .text-center{
    background-color: rgb(75, 75, 75) !important;
  } 
  
  footer section{
    color:white !important;
  }
  
  footer a{
    text-decoration: none !important;
  }
  
  footer a:hover{
  color: rgba(0, 81, 255, 0.842) !important;
  }
  
  /* .text-uppercase{
    text-align: center;
    
  } */
  
  
  /* end footer */
  
  
  @media (max-width:550px){
    .card{
        width: 250px;
        /* height: 260px; */
        border-radius: 20px;
    }
    .row{
        margin: 0;
        padding: 0;
    }
    .col-sm-2{
        align-items: center;
        justify-content: center;
        display: flex;
    }
  }
